<%= image_tag user.small_image_url %>
<h3><%= link_to user.first_name+" "+user.last_name, user_path(user) %></h3>
<p><%= user.username %></p>
<%= render partial: 'friends/friendoptions', locals: {user: user} %>
