<%= link_to 'All Users', user_friend_search_path(current_user) %>

<h2>Suggested Friends</h2>

<hr>
<% @suggested_friends.each do |friend| %>
  <%= render partial: 'friend', locals: {user: friend} %>
<hr>
<% end %>


<h2>Friends</h2>

<hr>
<% @user.friends.each do |friend| %>
  <%= render partial: 'friend', locals: {user: friend} %>
<hr>
<% end %>
