<h2>Suggested Friends</h2>
<hr>
<ul>
  <% @suggested_friends.each do |friend| %>
    <li>
      <%= render partial: 'friend', locals: {user: friend} %>
    </li>

    <hr>
  <% end %>
</ul>

<h2>Friends</h2>
