<h2>Suggested Friends</h2>
<hr>
<ul>
  <% @suggested_friends.each do |friend| %>
  <li>
    <%= image_tag friend.small_image_url %>
    <h3><%= friend.first_name %> <%= friend.last_name %></h3>
    <p>Username: <%= friend.username %></p>

  </li>
  <hr>
  <% end %>
</ul>
