<div class='dialog'>
  <h2>
    Some description about what this app does for the people of the world!
    Yea! I don't really know what else to say here, but one day I'll figure
    it out! Register today!
  </h2>

  <div class='button_link'>
      <%= link_to 'Register', new_user_path %>
  </div>
</div>
