<h2>Current Gifts:</h2>

<% if session[:current_user] == params[:user_id].to_i %>
  <%= link_to 'New Gift', new_user_gift_path(current_user) %>

<% end %>
<br>
<br>


<% if @events.first %>

  <% @events.each do |event| %>

    <% event.gifts.each do |gift| %>

        <%= render partial: 'gift', locals: {gift: gift} %>

    <% end %>

  <% end %>

<% else %>
  <p>You don't have any events</p>

<% end %>
