/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*---------------*/
/*   Navgation   */
/*---------------*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

div.header {
  height: 70px;
  background: #CC4235;
}

div.logo a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

div.profile_links {
  text-align: right;
  padding-top: 10px;
}

nav {
  background: #8C2E25;
  padding: 40px 0;
  border-radius: 0 0 20px 20px;
  margin-bottom: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

nav p:hover {
  background: #4D1914;
}

nav div.bottom_link {
  margin-bottom: 25px;
}

nav div.friend_request {
  margin-top: 25px;
}

/*---------------*/
/*    dialogs    */
/*---------------*/

div.register {
  text-align: center;
}

div.dialog {
  width: 500px;
  display: inline-block;
  background: #7C8BBF;
  margin-top: 50px;
  padding: 20px 20px 30px 20px;
}

div.dialog h2 {
  font-size: 20px;
}

div.button_link {
  margin-top: 25px;
}

div.button_link a {
  padding: 10px 40px;
  background: #CC4235;
  border-bottom: 4px solid #8C2E25;
  border-radius: 5px;

  text-decoration: none;
  color: #6B231C;
  font-size: 25px;
}

div.button_link a:hover {
  color: white;
}

div.button_link a:active {
  color: white;
  background: #8C2E25;
}


/*---------------*/
/*     gifts     */
/*---------------*/

div.gift img {
  max-width: 40px;

}

div.search_result {
  width: 700px;
}

div.search_result div.search_image img {
  max-height: 200px;
  max-width: 150px;
}

hr.top_search_border {
  margin-top: 50px;
}

h2.results_heading {
  margin-top: 20px;
}
